.tanks_grid{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    column-gap: 20px;
    row-gap: 50px;
    @media (min-width: 600px) and (max-width: 920px) {
        grid-template-columns: repeat(2, minmax(260px, 1fr));

        .tank_wrapper:is([data-tank="IS-3"], [data-tank="Object-752"]) {
            .exp_calculator{
                bottom: 115%;
                left: auto !important;
            }
            .exp_calculator::after{
                bottom: -36px;
                transform: rotate(180deg);
                right: 110px !important; 
                left: auto !important;
            }
            .exp_calculator::before{
                bottom: -38px;
                transform: rotate(180deg);
                right: 110px !important;
                left: auto !important;
            }
        }

        .tank_wrapper:is([data-tank="ST-1"], [data-tank="T-150"]) {
            .exp_calculator{
                bottom: 115%;
                left: 300px !important;
                top: auto !important;
                right: auto;
            }
            .exp_calculator::after{
                left: 130px !important;
                bottom: -36px;
                transform: rotate(180deg); 
                top: auto !important;
                right: auto !important;
            }
            .exp_calculator::before{
                left: 130px !important;
                bottom: -38px;
                transform: rotate(180deg);
                top: auto !important;
                right: auto !important;
            }
        }

        .tank_wrapper:is([data-tank="T-34"]) {
            .exp_calculator::after{
                left: 140px !important;
            }
            .exp_calculator::before{
                left: 140px !important;
            }
        }

        .tank_wrapper:is([data-tank="KV-1"]) {
            .exp_calculator{
                left: auto !important;
            }
            .exp_calculator::after{
                left: 60% !important;
            }
            .exp_calculator::before{
                left: 60% !important;
            }
        }
    }
    @media (max-width: 650px) {
        .slider{
            width: 250px !important;
        }
    }
    @media (max-width: 600px) {
        grid-template-columns: minmax(260px, 1fr);
        
        .exp_calculator{
            .exp_calculator_wrapper{
                flex-direction: column;
                .complectation{
                    flex: 1;
                    order: 1;
                }
                .tank_exp{
                    flex: 1;
                    order: 3;
                }
                .fights_amount{
                    flex: 1;
                    order: 2;
                }
            }
        }
        .exp_calculator{
            .close_btn_and_name{
                display: flex !important;
            }
        }
    }
    .tank_wrapper{
        position: relative;
        .tank{
            max-width: 260px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h6{
                color: #FFF;
                font-size: 28px;
                font-weight: 700;
            }
        }
        &:hover > .tank + .exp_calculator,
        &:focus-within > .tank + .exp_calculator {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition:
                opacity .2s ease,
                transform .2s ease,
                visibility 1s;
        }
    }


    .tank_wrapper:is([data-tank="T-34"], [data-tank="KV-1"], [data-tank="T-150"]) {
        .exp_calculator{
            top: 115%;
        }
        .exp_calculator::after{
            top: -36px;
        }
        .exp_calculator::before{
            top: -38px;
        }
    }
    .tank_wrapper:is([data-tank="IS-3"], [data-tank="ST-1"], [data-tank="Object-752"]) {
        .exp_calculator{
            bottom: 115%;
        }
        .exp_calculator::after{
            bottom: -36px;
            transform: rotate(180deg); 
        }
        .exp_calculator::before{
            bottom: -38px;
            transform: rotate(180deg); 
        }
    }
    .tank_wrapper:is([data-tank="T-150"], [data-tank="Object-752"]) {
        .exp_calculator{
            bottom: 115%;
        }
        .exp_calculator::after{
            right: 150px;
        }
        .exp_calculator::before{
            right: 150px;
        }
    }
    .tank_wrapper:is([data-tank="T-34"], [data-tank="IS-3"]) {
        .exp_calculator{
            left: 300px;
        }
        .exp_calculator::after{
            left: 105px;
        }
        .exp_calculator::before{
            left: 105px;
        }
    }
    .tank_wrapper:is([data-tank="KV-1"], [data-tank="ST-1"]) {
        .exp_calculator{
            left: 105px;
        }
        .exp_calculator::after{
            left: 50%;
        }
        .exp_calculator::before{
            left: 50%;
        }
    }

}


@media (max-width: 600px) {
    .exp_calculator {
      position: fixed !important;
      top: 0 !important;
      bottom: auto !important;
      right: 0 !important;
      left: auto !important;
      background-color: aqua;
      transform: translate(0, 0) !important;
      z-index: 99999;
      width: 100vw;
      height: 100vh !important;
      overflow: auto;
      pointer-events: none;            /* пока крестик не нужен — можно так */
    }
}