@import "normalize";
@import "fonts";
@import "footer";
@import "header";
@import "navigation";
@import "fight_amount_slider";
@import "tanks";
@import "vidget";
@import "exp_calculator";
@import "slider";
@import "radio_buttons";

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Arial";
}


