*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:focus {
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

@font-face {
  font-family: "Arial";
  src: local("arial"), url("/public/fonts/arial/arial.woff2") format("woff2"), url("/public/fonts/arial/arial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: local("arial"), url("/public/fonts/arial/arialbold.woff2") format("woff2"), url("/public/fonts/arial/arialbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Arial";
}

header {
  padding: 15px 0;
  background-color: #050505;
}
header p {
  text-align: center;
  color: white;
  font-weight: 700;
}

nav {
  padding: 30px 0;
  background-color: #31343b;
}
nav p {
  text-align: center;
  color: white;
  font-weight: 700;
}

.vidget {
  background-color: #1C1C1E;
  flex: 1;
  padding: 20px 40px;
}
.vidget .vidger_wrapper .description {
  font-size: 16px;
  color: #FFF;
  margin-bottom: 50px;
}
.vidget .vidger_wrapper .tanks_grid {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper {
  position: relative;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper .tank {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper .tank h6 {
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:hover > .tank + .exp_calculator, .vidget .vidger_wrapper .tanks_grid .tank_wrapper:focus-within > .tank + .exp_calculator {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
  pointer-events: auto;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 1s;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-34], [data-tank=KV-1], [data-tank=T-150]) .exp_calculator {
  top: 115%;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-34], [data-tank=KV-1], [data-tank=T-150]) .exp_calculator::after {
  top: -36px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-34], [data-tank=KV-1], [data-tank=T-150]) .exp_calculator::before {
  top: -38px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=IS-3], [data-tank=ST-1], [data-tank=Object-752]) .exp_calculator {
  bottom: 115%;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=IS-3], [data-tank=ST-1], [data-tank=Object-752]) .exp_calculator::after {
  bottom: -36px;
  transform: rotate(180deg);
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=IS-3], [data-tank=ST-1], [data-tank=Object-752]) .exp_calculator::before {
  bottom: -38px;
  transform: rotate(180deg);
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-150], [data-tank=Object-752]) .exp_calculator {
  bottom: 115%;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-150], [data-tank=Object-752]) .exp_calculator::after {
  right: 150px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-150], [data-tank=Object-752]) .exp_calculator::before {
  right: 150px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-34], [data-tank=IS-3]) .exp_calculator {
  left: 300px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-34], [data-tank=IS-3]) .exp_calculator::after {
  left: 105px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=T-34], [data-tank=IS-3]) .exp_calculator::before {
  left: 105px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=KV-1], [data-tank=ST-1]) .exp_calculator {
  left: 105px;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=KV-1], [data-tank=ST-1]) .exp_calculator::after {
  left: 50%;
}
.vidget .vidger_wrapper .tanks_grid .tank_wrapper:is([data-tank=KV-1], [data-tank=ST-1]) .exp_calculator::before {
  left: 50%;
}

.exp_calculator {
  position: absolute;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s linear 0.3s;
}
.exp_calculator .exp_calculator_wrapper {
  display: flex;
  height: 350px;
  flex-wrap: wrap;
  background-color: rgba(42, 42, 42, 0.9);
  padding: 30px;
  justify-content: space-between;
}
.exp_calculator .exp_calculator_wrapper .heading {
  font-weight: 700;
  color: #AEAC7E;
  font-size: 28px;
}
.exp_calculator .exp_calculator_wrapper .complectation {
  flex: 1;
  flex-basis: 200px;
}
.exp_calculator .exp_calculator_wrapper .complectation .complectationForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exp_calculator .exp_calculator_wrapper .tank_exp {
  flex: 1;
  flex-basis: 200px;
}
.exp_calculator .exp_calculator_wrapper .tank_exp .heading {
  padding-bottom: 10px;
}
.exp_calculator .exp_calculator_wrapper .tank_exp div {
  display: flex;
  gap: 40px;
}
.exp_calculator .exp_calculator_wrapper .tank_exp div img {
  width: 66px;
  height: 66px;
}
.exp_calculator .exp_calculator_wrapper .tank_exp div .tank_exp_value {
  font-weight: 700;
  font-size: 56px;
  color: #F8AA31;
}
.exp_calculator .exp_calculator_wrapper .fights_amount {
  background-color: darkorchid;
  width: 500px;
  flex: 2;
}
.exp_calculator .exp_calculator_wrapper .fights_amount .fight_amount_slider .fight_amount_slider_wrapper .slider-row {
  display: flex;
  justify-content: space-between;
}
.exp_calculator .exp_calculator_wrapper .fights_amount .fight_amount_slider .fight_amount_slider_wrapper .slider-row .slider {
  width: 320px;
}
.exp_calculator::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 38px solid #747474;
  position: absolute;
}

.exp_calculator::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 38px solid #292929;
  position: absolute;
}

footer {
  padding: 40px 0;
  background-color: #050505;
}
footer p {
  text-align: center;
  color: white;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .vidget .vidger_wrapper {
    margin: 0 auto !important;
  }
  .vidget .vidger_wrapper .tanks_grid {
    width: 100% !important;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 20px;
  }
  .vidget .vidger_wrapper .tanks_grid .tank {
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .exp_calculator .exp_calculator_wrapper {
    flex-direction: column;
  }
  .exp_calculator .exp_calculator_wrapper .complectation {
    flex: 1;
    order: 1;
  }
  .exp_calculator .exp_calculator_wrapper .tank_exp {
    flex: 1;
    order: 3;
  }
  .exp_calculator .exp_calculator_wrapper .fights_amount {
    flex: 1;
    order: 2;
  }
}/*# sourceMappingURL=main.css.map */